---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import ProjectCardWithoutImage from '../components/ProjectCardWithoutImage.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import dp from '../assets/dp.jpeg'
import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['Java', 'JavaScript', 'TypeScript', 'Python', 'Go (Learning)', 'Rust (Learning)']
const frontend = ['React', 'Angular', 'TailwindCSS', 'Astro']
const backend = ['Spring Framework', 'NodeJS', 'Express', 'Fastify']
const databases = ['MongoDB', 'MySQL', 'SQLite']
const devops = ['Docker', 'Kubernetes', 'AWS', 'GCP', 'Azure']
const tools = ['Git', 'GitHub', 'Teamcity']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Kalyan Kaushik Khasibhatla' }}>
	<div class='flex w-full flex-col gap-y-10 drop-shadow text-shadow'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={dp}
				alt='Kalyan Kaushik Khasibhatla'
				class='h-28 w-auto rounded-full drop-shadow p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='md:text-3xl text-sm font-bold'>Kalyan Kaushik Khasibhatla</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='<Full Stack Developer/>' />
					<Label title='@ Hyderabad'/>
				</div>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3 italic underline'>
   	            <Label
					title='#LinkedIn'
					as='a'
					href='https://www.linkedin.com/in/k3nme/'
					target='_blank'
				/>
				<Label
					title='#GitHub'
					as='a'
					href='https://github.com/k3nme'
					target='_blank'
				/>
				<Label
                        title='#Twitter'
                        as='a'
                        href='https://twitter.com/learnk3n'
                        target='_blank'/>
                    <Label
                        title='#Mail'
                        as='a'
                        href='mailto:k3nwork@proton.me' />
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
                Full Stack Developer with a passion for building products that solve real-world problems. I have experience in building web applications using modern technologies like React, Angular, Java, Node.js, and MongoDB. I am always eager to learn new technologies and improve my skills.
			</p>
			<p class='text-muted-foreground font-bold italic'>
			    <b>Top Skills -</b> Java, Typescript, React, Angular, Python, Node.js
            </p>
            <p class='text-muted-foreground font-bold italic'>
                <b>Learning -</b> Rust, Go, Docker, Kubernetes
            </p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			<Card
				heading='Senior Software Engineer'
				subheading='Planon, Hyderabad'
				date='Sep 2018 - Present'
				altText='Senior Software Engineer, Planon, Hyderabad'
				technologies="Java, Apache Wicket, OSGI, NodeJS, Angular"
				domains="Lease Accounting, Finance, Reporting, User Interface, Accessibility, WCAG"
			>
			    <!--
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li class='m-2'>
					   Currently working on improving the accessibility of the product by implementing WCAG standards.
					</li>
					<li class='m-2'>
					   Contributed to the finance module by implementing new features and fixing bugs. Improved the performance of reporting module.
				    </li>
				</ul>
				-->
			</Card>
			<Card
				heading='Senior Software Engineer'
				subheading='Head Digital Works, Hyderabad'
				date='Aug 2015 - Aug 2018'
				altText='Senior Software Engineer (Android), Head Digital Works, Hyderabad'
				technologies="Java, Android, SQLite, Firebase"
				domains="Gaming"
			/>

			<Card
				heading='Software Engineer'
				subheading='Orvito Inc, Hyderabad'
				date='Jun 2014 - Aug 2015'
				altText='Software Engineer, Orvito Inc, Hyderabad'
				technologies="HTML, CSS, JavaScript, PHP, MySQL"
				domains="Home Automation, IoT"
			/>
		</Section>

		<Section title='Education'>
			<Card
				heading='Master of Sciences in Information Technology'
				subheading='IIIT, Hyderabad'
				date='Jun 2012 - Jun 2014'
				altText='Master of Sciences in Information Technology, IIIT, Hyderabad'
			/>
		</Section>

		<Section title='Projects'>
			<div class='flex flex-col gap-y-3'>
				<ProjectCard
					href='https://www.agileestimations.app'
					heading='Agile Estimations'
					subheading='A web application to estimate the effort required to complete a task using Agile Estimation techniques.'
					imagePath='/src/assets/agile-estimations.webp'
					techStack='React, TailwindCSS, Fastify, MongoDB'
					altText='Example'
					class='w-full'
				/>
				<ProjectCardWithoutImage
					href='https://kalyankaushikkhasibhatla.dev'
					heading='Portfolio Website'
					subheading='A personal website built using Astro, TailwindCSS'
					techStack='Astro, TailwindCSS'
					class='w-full'
				/>
				<ProjectCardWithoutImage
				    href="#"
					heading='Self Management System (In Progress)'
					subheading='A cross-platform application to manage tasks, notes, and reminders, finances.'
					techStack='TBD'
					class='w-full'
				/>
			</div>
		</Section>

		<!--<Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
		</Section> -->

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Databases' skills={databases} />
			<SkillLayout title='DevOps' skills={devops} />
			<SkillLayout title='Tools' skills={tools} />
		</Section>
	</div>
</PageLayout>
